/* Default Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body Section Styling */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
  margin: 0 auto;
}

/* Wrapper Section Styling */
#wrapper {
  height: 100%;
  margin-left: 15%;
  padding-bottom: 50px;
  padding-top: 30px;
  margin-top: 30px;
  width: 980px;
}

#btn {
  margin-top:20px;
}

#generate {
  background-color: red;
  font-size: 20px;
  padding: 14px 40px;
  border-radius: 15px;
  margin-left: 18%;
  margin-bottom: 10px;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
